.container{
  align-items: center;
  background-color: gray;
  border-radius: 11%;
  display: flex;
  flex-direction: column;
  height: 194px;
  justify-content: center;
  margin: 2%;
  width: 225px;
}

.row{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
}


.img{
  width: 30%;
}

.name{
  padding: 10%;
}