@font-face {
  font-family: 'pokemon';
  src: url(./fonts/PocketMonk-15ze.ttf) format('truetype');
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.title{
  font-family: 'pokemon';
}
.container {
  margin: 10%;
}